<!DOCTYPE html>
<html>
  <head>
    <title>Farmaceutyka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <h4><em> Farmaceutyczny przewodnik</em> </h4>
    <% if user_signed_in? %>
      <%= current_user.email %>
    <% end %>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
